<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load bootstrap4 %}

<html lang="en" class="no-js">
<head>
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% block meta %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Saleor">
    <meta name="theme-color" content="#333333">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="{{ site.name }}">
    <meta name="og:type" content="website">
    {% endblock meta %}

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">


    {% block stylesheet %}{% endblock stylesheet %}

    {% block meta_tags %}
    <meta property="og:title" content="{{ site.settings.translated.header_text }}">
    <meta property="og:description" content="{{ site.settings.translated.description }}">
    <meta name="description" content="{{ site.settings.translated.description }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:image" content="{% static 'images/block1.png' %}">
    {% endblock meta_tags %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
{% block header %}
<header class="navbar" role="navigation">
    <img src="{% static 'images/logo-bg.png' %}" class="lazyload lazypreload"
         data-src="{% static 'images/logo-bg.png' %}"
         data-srcset="{% static 'images/logo-bg.png' %} 1x, {% static 'images/logo-bg2x.png' %} 2x">
    <div class="navbar__login container-fluid {% if user.is_impersonate %} bg-warning {% endif %}">
        <div class=" d-none d-md-block container">
            <div class="row">
                <div class="col-6">
                    <p class="text-left">{{ site.settings.translated.header_text }}</p>
                </div>
                <div class="col-6">
                    <ul class="float-right">
                        {% if user.is_authenticated %}
                        {% if user.is_staff or request.impersonator.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}" target="_blank" rel="noopener">
                                {% trans "Admin" context "Main navigation item" %}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{ url account:details }">
                                {% trans "Your account" context "Main navigation item" %}</a>
                        </li>
                        {% if user.is_impersonate %}
                        <li>
                            <a href="{ url impersonate-stop }">
                                {% trans 'Stop impersonating' context 'Main navigation item' %}
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'logout' %}">
                                {% trans "Log out" context "Main navigation item" %}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li>
                            <a rel="nofollow" href="{% url 'login' %}">
                                {% trans "Log in" context "Main navigation item" %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar__brand container-fluid d-block">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-8 col-md-4 navbar__logo">
                    <div class="menu-icon-mobile d-md-none navbar__brand__menu-toggle closed open">
                        <svg data-src="{% static 'images/mobile-menu.svg' %}" width="28px" height="20px"/>
                    </div>
                    <a href="{ url 'home' }">
                        <svg data-src="{% static 'images/logo-light.svg' %}"/>
                    </a>
                </div>

            </div>
        </div>
    </div>
    <div class="navbar__menu container d-block">
        <nav class="navigation">
            <nav class="navbar navbar-expand-md navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <button class="btn btn-outline-success" type="button">
                            Home <span class="sr-only">(current)</span>
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-success nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </nav>
        </nav>
    </div>
</header>
{% endblock %}
<div class="container maincontent">
    {% block topcontent %}{% endblock topcontent %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}

    {% block breadcrumb %}
    {% endblock breadcrumb %}
    {% block content %}
    {% endblock content %}

</div>

{% block footer %}
<footer class="footer">
    <div class="footer__menus">
        <div class="container">
            <div class="row">
                <p>Footer Menu stuff goes here originally</p>
                <div class="col-md-2 col-6">
                    <ul class="menu">
                        <li class="nav-item__dropdown menu__item">
                            <a>
                                <strong>
                                    {% trans "Account" %}
                                </strong>
                            </a>
                            <hr/>
                            {% if user.is_authenticated %}
                            {% if user.is_staff %}
                        <li>
                            <a href="{% url 'admin:index' %}" target="_blank" rel="noopener">
                                {% trans "Admin" context "Main navigation item" %}
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{ url account:details }">
                                {% trans "Your account" context "Main navigation item" %}
                            </a>
                        </li>
                        {% if user.is_impersonate %}
                        <li>
                            <a href="{ url impersonate-stop }">
                                {% trans 'Stop impersonating' context 'Main navigation item' %}
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a href="{% url 'logout' %}">
                                {% trans "Log out" context "Main navigation item" %}</a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li>
                            <a rel="nofollow" href="{% url 'login' %}">
                                {% trans "Log in" context "Main navigation item" %}
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="offset-md-2 col-md-4 col-12">
                    <div class="footer__menus__social-container">
                        <!---<div class="footer__menus__social">
                          <a target="_blank" rel="noopener" class="social-footer" href="https://github.com/mirumee/saleor">
                            <svg data-src="{% static "images/github-logo.svg" %}" width="45px" height="45px"/>
                          </a>
                          <a target="_blank" rel="noopener" class="social-footer" href="https://linkedin.com/company/mirumee-software">
                            <svg data-src="{% static "images/linkedin-logo.svg" %}" width="45px" height="45px"/>
                          </a>
                        </div>--->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copy">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <a href="{ url 'home' }" class="footer__logo float-md-left">
                        <svg data-src="{% static 'images/logo-light.svg' %}"/>
                    </a>
                </div>
                <div class="col-8 footer__copy-text">COPYRIGHT © 2020 QUARK INTERACTIVE</div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}
{% block footer_scripts %}
{% endblock footer_scripts %}
</body>
</html>