{% extends "base.html" %}

{% block content %}

<h1>Delete Purchase Order</h1>

<p>Are you sure you want to delete the purchase order: {{ purchaseorder }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" action="" value="Yes, delete." />
</form>

<a href="{% url "purchase_order:purchase-order-update" purchaseorder.pk %}">
  Update
</a>
<a href="{% url "purchase_order:purchase-order-list" %}">
  List
</a>

{% endblock %}