{% extends "base.html" %}

{% load static %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<form action="" method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
    <button type="reset" class="btn btn-primary">
        Reset
    </button>
    {% endbuttons %}

</form>
{% endblock %}