{% extends "base.html" %}

{% block content %}

<h1>Purchase Order List</h1>



{% if purchaseorder_list %}
<table class="table">
    <tbody>

    {% for purchaseorder in purchaseorder_list %}
    <tr>
        <td>
            <a href="{{ purchaseorder.get_absolute_url }}">
                {{ purchaseorder.number }}
            </a>
        </td>
        <td>
            <a href="{{ purchaseorder.get_absolute_url }}">
                {{ purchaseorder.supplier }}
            </a>
        </td>
        <td>
            <a href="{{ purchaseorder.get_absolute_url }}">
                {{ purchaseorder.created }}
            </a>
        </td>
    </tr>
    {% endfor %}

    </tbody>
</table>
{% else %}
<p>There are no purchase orders available.</p>
{% endif %}


{% endblock %}