{% extends "base.html" %}

{% block content %}

<h2>Purchase Order</h2>

<h1># {{ purchaseorder.number }}</h1>
<h3>{{ purchaseorder.supplier }}</h3>
<br/>
<p>Created by: {{ purchaseorder.user }}</p>
<p>At: {{ purchaseorder.created }}</p>

<a href="{% url "purchase_order:purchase-order-update" purchaseorder.pk %}">
  Update
</a>
<a href="{% url "purchase_order:purchase-order-list" %}">
  List
</a>
        
{% endblock %}