{% extends "base.html" %}

{% load static %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% if user.is_authenticated %}

<p><b>{{user}}</b> is already logged in. If you wish to change users please log out.</p>

{% else %}

<form role="form" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons submit='Login' reset="Cancel" %}{% endbuttons %}
</form>

{% endif %}

{% endblock %}